@model YCDemoMVC.Models.MemberIndexViewModel

@{
    Layout = "_Layout";
	var value = Model.GetType().GetProperties().FirstOrDefault(p => p.Name == Model.ConditionList.FirstOrDefault(o => o.Selected)?.Value)?.GetValue(Model)?.ToString() ?? string.Empty;
	
}

@using (Html.BeginForm("Index", "Member", FormMethod.Post, new {enctype = "multipart/form-data", id = "FormPage"}))
{
    <div class="table-title">
	    <div class="row">
		    <div class="col-sm-8">
			    <h2>Member List</h2></div>
		    <div class="col-sm-4" style="display:inline-block;white-space:nowrap;">
			    <select class="form-control" asp-items="@Model.ConditionList" id="condition" style="display:inline-block;white-space:nowrap;width: 130px !important;"></select>
			    <input type="text" id="conditionValue" value="@value" class="form-control" placeholder="Search&hellip;" style="display:inline-block;white-space:nowrap;width: 130px !important;">
			    <button type="button" id="search" class="btn-light" style="display:inline-block;white-space:nowrap;">Search</button>
			    <p></p>
			    <button type="button" id="create" class="btn-success">Create</button>
		    </div>
	    </div>
	</div>
	<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Name <i class="fa fa-sort"></i></th>
			<th>Sex</th>
			<th>Birthday <i class="fa fa-sort"></i></th>
			<th>IdentityNumber</th>
			<th>Email <i class="fa fa-sort"></i></th>
			<th>PhoneNumber</th>
			<th>Address</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	@{
		var number = 1;
	}
	@if (Model.Members.Any())
	{
		foreach (var member in Model.Members)
		{
			var showSex = member.Sex == "M" ? "男性" : "女性";
			<tr>
				<td>@number</td>
				<td>@member.Name</td>
				<td>@showSex</td>
				<td>@member.Birthday</td>
				<td>@member.IdentityNumber</td>
				<td>@member.Email</td>
				<td>@member.PhoneNumber</td>
				<td>@member.Address</td>
				<td nowrap="nowrap">
					<button type="button" class="btn-primary" id="update" value="@member.Id">Edit</button>
					<button type="button" class="btn-danger" id="delete" value="@member.Id">Delete</button>
				</td>
			</tr>
			number++;
		}
	}
	else
	{
		<tr>
			<td colspan="9">No Data</td>
		</tr>
	}
	</tbody>
	</table>
}

<script>
$(function () {
	$("#create").click(function (){
		window.location = "@Url.Action("Create")"
	})
	$("#update").click(function (){
		window.location = "@Url.Action("Edit")?id=" + $(this).val()
	})
	$("#delete").click(function (){
		var doDelete = confirm("是否確定刪除?")
		if (doDelete === false) return;
		$.ajax({
			url: "@Url.Action("Delete")?id=" + $(this).val(),
			type: "DELETE",
			dataType: "json",
			contentType: "application/json",
			success: function (data) {
				if (data){
					alert("Success");
					window.location = "@Url.Action("Index")";
				}
			},
			error: function (error){
				alert("Fail");
			}
		});
	});
	$("#search").click(function (){
		var conditionName = $("#condition").children("option").filter(":selected").val();
		var conditionValue = $("#conditionValue").val();
		window.location = "@Url.Action("Index")?" + conditionName + "=" + conditionValue;
		
	})
})
</script>